.card {
  position: relative;
}

.card > .bg {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}

.card > .card-body {
  position: relative;
}
